extends base/_base

include mixins/_form-image

block append variables
  - sidebarActive = 'Brands';

block content 
  form#generic-form.form(data-generic-form-singular-name='brand' data-generic-form-plural-name='brands' action='#') 
    +headerOne('Brand', 'Brands')
      
    main.main--small-layout.divided-main 
      .divided-main__left
        .card.u-margin-bottom-main
          h3.card__heading.heading-secondary Meta Info 
          .form__group
            label.form__group-label(for='name')
              span.form__star *
              | Name 
            input.form-group-input.form__input--single-line.u-width-full(type='text' placeholder='Apple iPhone 11' minlength=2 maxlength=30 id='name' required name='name' value=document && document.name)
          .form__group
            label.form__group-label(for='since') Since 
            .form-group-input.form__input--single-line.form__input--disabled.u-width-full.tooltip
              | #{helpers.dateFormator.dateFormatted(document&&document.createdAt || Date.now())}
              .tooltip__element.tooltip__element--right You cannot edit this

        .card.u-margin-bottom-main
          h3.card__heading.heading-secondary Gallery
          .form__group
            +formImage('Brand', [document&&document.images&&document.images[0]&&document.images[0].path || '/assets/admin/img/no-image.jpg'])
        
      .divided-main__right

        // Score
        .card.u-margin-bottom-main
          h3.card__heading.heading-secondary Score
          .form__group
            select.form__select.u-width-full(name='score')
              - for(let i=1; i<=10; ++i)
                if document && document.score && document.score == i 
                  option(value=i selected)= i
                else 
                  option(value=i)= i
          .form__group
            p.small-text Score helps in prioritizing a brand. More the score, more the brand will be prioritized while showing to customer. This is important for grabbing the customer interest.

        // Products count
        .card.u-margin-bottom-main
          h3.card__heading.heading-secondary Products
          .form__group
            label.form__group-label(for='productsCount') Products Count 
            .form-group-input.form__input--single-line.form__input--disabled.u-width-full.tooltip
              | #{document && document.productsCount || 0}
              .tooltip__element.tooltip__element--left You cannot edit this
          .form__group.form 
            if document
              a.btn.btn--text(target='_blank' href=`/a/products?brand.id=${document.id}`)
                | View Products&nbsp;
                i.fas.fa-eye
            else 
              .btn.btn--text.btn--disabled 
                | View Products&nbsp;
                i.fas.fa-eye
            