extends base/_base

block append variables
  - 
    sidebarActive = 'Brands';
    topbarFeatureBtn = ['/a/brands/new', 'Add new brand', 'fas fa-plus'];

block content
  +header('Brands', [['/a/brands', 'Brands']])
    +menuSort('brands', [
      ['name', 'Name [A-Z]'],
      ['-name', 'Name [Z-A]'],
      ['-createdAt', 'Created (Newest First)'],
      ['createdAt', 'Created (Oldest First)'],
      ['-updatedAt', 'Updated (Newest First)'],
      ['updatedAt', 'Updated (Oldest First)'],
      ['-productsCount', 'Items (Highest First)'],
      ['productsCount', 'Items (Lowest First)'],
      ['-score', 'Score (Highest First)'],
      ['score', 'Score (Lowest First)']
    ])
    
    +menuLimit('brands')
    +menuPagination

  main.main
    .main-table 
      .main-table__heading-container 
        .main-table__heading Brand 
        .main-table__heading.main-table__heading--status Score
        .main-table__heading.main-table__heading--important Products
        .main-table__heading.main-table__heading--unimportant Created
      
      each brand in documents
        a.main-table__row.reset-anchor(href=`/a/brands/${brand.nameNormalized}/${brand.id}`)
          .main-table__item.main-table__item--first
            - 
              let src = '/assets/admin/img/no-image-2.png';
              if(brand.images && brand.images[0] && brand.images[0].path){
                src = brand.images[0].path;
              }
            img.main-table__item-img(src=src alt='Product image')
            .main-table__item-first-text= brand.name 
            
          -
            let color = 'blue';
            if(brand.score <= 3) color = 'red';
            else if(brand.score >= 7) color = 'green';
          .main-table__item.main-table_item--status(class=`main-table_item--status-${color}`): span #{brand.score}

          .main-table__item.main-table__item--important= brand.productsCount
          .main-table__item.main-table__item--unimportant= helpers.dateFormator.dateFormatted(brand.createdAt)
