extends base/_base

block append variables
  - 
    sidebarActive = 'Categories';
    topbarFeatureBtn = ['/a/categories/new', 'Add new category', 'fas fa-plus']

block content
  +header('Categories', [['/a/categories', 'Categories']])
    +menuSort('categories', [
      ['name', 'Name [A-Z]'],
      ['-name', 'Name [Z-A]'],
      ['-createdAt', 'Created (Newest First)'],
      ['createdAt', 'Created (Oldest First)'],
      ['-updatedAt', 'Updated (Newest First)'],
      ['updatedAt', 'Updated (Oldest First)'],
      ['-productsCount', 'Items (Highest First)'],
      ['productsCount', 'Items (Lowest First)'],
      ['-score', 'Score (Highest First)'],
      ['score', 'Score (Lowest First)']
    ])
    
    +menuLimit('categories')
    +menuPagination

  main.main
    .main-table 
      .main-table__heading-container 
        .main-table__heading Category 
        .main-table__heading.main-table__heading--status Score
        .main-table__heading.main-table__heading--important Products
        .main-table__heading.main-table__heading--unimportant Created
      
      each category in documents
        a.main-table__row.reset-anchor(href=`/a/categories/${category.nameNormalized}/${category.id}`)
          .main-table__item.main-table__item--first
            - 
              let src = '/assets/admin/img/no-image-2.png';
              if(category.images && category.images[0] && category.images[0].path){
                src = category.images[0].path;
              }
            img.main-table__item-img(src=src alt='Product image')
            .main-table__item-first-text= category.name 

          -
            let color = 'blue';
            if(category.score <= 3) color = 'red';
            else if(category.score >= 7) color = 'green';
          .main-table__item.main-table_item--status(class=`main-table_item--status-${color}`): span #{category.score}
          
          .main-table__item.main-table__item--important= category.productsCount
          .main-table__item.main-table__item--important= helpers.dateFormator.dateFormatted(category.createdAt)
