extends base/_base
include mixins/_product-desc

//- Address Line
mixin addressLine(value, comma=false, blockElement=false)
  if value 
    if blockElement 
      p.cart__address-each-line= `${value}${comma?', ':''}`
    else
      span.cart__address-each-line= `${value}${comma?', ':''}`


//- Each Product Card
mixin eachCartProductCard(product, idx)
  .inner-card.reset-anchor: .product-inner-card
    a.product-inner-card__img-box(href=`/products/${product.product.name}/${product.product.id}` target='_blank')
      img.product-inner-card__img(src=(product.product.images && product.product.images[0] && product.product.images[0].path) || '/assets/user/img/no-image.jpg')

    .product-inner-card__main
      +productDesc(product.product, false, true, true)
        p.cart__text-quantity Quantity: #{product.quantity}
        

    .u-display-none
      input(type='text' name=`products[${idx}][product]` value=product.product.id readonly)
      input(type='number' name=`products[${idx}][quantity]` value=product.quantity readonly)
      input(type='number' name=`products[${idx}][price]` value=product.product.discountedPrice readonly)


  

//- Main content
block content

  // Order confirmation
  #orderConfirmation.order-confirmation__container.u-display-none(data-none-class='u-display-none')
    section.order-confirmation
      video.order-confirmation__video(src="/assets/user/video/order-confirmation.mp4" autoplay muted loop) 
      
      h2.heading-tertiary.heading-tertiary--center.heading-tertiary--no-bottom-line.order-confirmation__heading Your order has been placed

      p.order-confirmation__para.light-text You will be receiving a confirmation email with order details

      button#orderConfirmationBtn.order-confirmation__button.btn.btn--round.btn--new-blue.btn--border-color 
        i.fas.fa-compass.fa-spin
        | &nbsp;&nbsp;View the Order

  // Actual content
  form#checkout-form.card.cart

      // Main
      .cart__main
        h2.heading-tertiary.heading-tertiary--2 Review Order

        each product, idx in document.products 
          +eachCartProductCard(product, idx)

      -
        const amount = (cost) => {
          if (document.products && document.products.length > 0) {
            return `₹${Number(cost).toLocaleString('en-IN', {maximumFractionDigits: 2})}`;
          }
          return 'N/A';
        }

      .cart__address 
        h2.heading-tertiary.heading-tertiary--2 Ship to 
        .cart__address-inner-card.inner-card 
          .cart__adress-icon: i.fas.fa-map-marked-alt
          .card__address-actual
            +addressLine(address.name, false, true)
            +addressLine(address.address.flat, true)
            +addressLine(address.address.area, true)
            +addressLine(address.address.landmark, true)
            +addressLine(address.address.district, true)
            +addressLine(`${address.address.state} - ${address.address.pincode}`)
            p.cart__address-each-line
              i.fas.fa-phone-alt
              | &nbsp;#{`+91 ${address.mobile.substr(0, 4)} ${address.mobile.substr(4, 3)} ${address.mobile.substr(7, 3)}`}

          .u-display-none 
            input(type='text' name='address' value=address.id)


      // Summary
      .cart__summary 
        h2.heading-tertiary.heading-tertiary--2 Summary 
        
        table.cart__summary-table
          tr.cart__summary-table-row
            th.cart__summary-table-head Subtotal
            td.cart__summary-table-data= amount(document.subTotal)
          tr.cart__summary-table-row
            th.cart__summary-table-head Delivery charges
            td.cart__summary-table-data= amount(document.deliveryCharge)
          tr.cart__summary-table-row.cart__summary-table-row--net
            th.cart__summary-table-head Total
            td.cart__summary-table-data= amount(document.grandTotal)

        button#checkout-form-btn.btn.btn--new-blue.btn--round.btn--full.btn--load
          span.btn--load__content Place Order
          span.btn--load__load-content
            i.fa.fa-circle-o-notch.fa-spin
            | &nbsp;Loading