extends base/_account

include mixins/_account-box

block accountContent
  +accountBox(`Order #${document.id}`, [['/orders', 'Orders'], ['#', 'View Order']])

    .my-order-one-container
      // Order summary
      section.my-order-one-section.my-order-one-summary
        .my-order-one-summary__by-box
          .my-order-one-summary__by-heading.heading-tertiary.heading-tertiary--no-bottom-line Order 
          .my-order-one-summary__by-person By: #{document.address.name}

        .my-order-one-summary__completed-box 
          .my-order-one-summary__completed-heading.heading-pentaniary Completed 
          - const percentage = document.status.name === 'cancelled'? 0: document.statusAll.length * 20;
          .my-order-one-summary__completed-value.heading-tertiary.heading-tertiary--no-bottom-line #{percentage}%
          .progress 
            .progress__bar.progress__bar--orange(style=`--percentage: ${percentage};`)

        .my-order-one-summary__booking-box
          .my-order-one-summary__booking-heading.heading-pentaniary Booking Date 
          .my-order-one-summary__booking-date= helpers.dateFormator.dateFormatted(document.createdAt)


      // Order status
      section.my-order-one-section.my-order-one-status

        each status in [['booked', 'Ordered'], ['confirmed', 'Confirmed'], ['packed', 'Packed'], ['inTransit', 'In-Transit'], ['delivered', 'Delivered'], ['cancelled', 'Cancelled']]
          - const foundStatus = document.statusAll.find(foundStatus => foundStatus.name === status[0]);

          //- if order is not cancelled, show all status except cancelled else if order is canclled, show only status found(that is in database)
          if document.status.name !== 'cancelled' && status[0] !== 'cancelled' || document.status.name === 'cancelled' && foundStatus
            - 
              let statusClass;
              if (!foundStatus) {
                statusClass = 'my-order-one-status__box--inactive';
              } else if(foundStatus.name === 'cancelled') {
                statusClass = 'my-order-one-status__box--cancelled'
              } else {
                statusClass = 'my-order-one-status__box--active';
              }
            .my-order-one-status__box(class=statusClass)
              .my-order-one-status__circle(class=status[0]==='cancelled'?'my-order-one-status__circle--cross': '')
              .my-order-one-status__name= status[1]
              .my-order-one-status__date.light-text.smaller-text= foundStatus ? helpers.dateFormator.dateFormatted(foundStatus.createdAt): 'XX XX, XXXXX'


      // Billing info
      section.my-order-one-section.my-order-one-billing
        .my-order-one-section__header 
          h3.heading-tertiary.heading-tertiary--no-bottom-line Billing Info
          .my-order-one-section__btns-group 
            // Id of product to entertain
            .u-display-none
              input#id(type='text' value=document.id readonly)

            if document.status.name !== 'cancelled'      
              a.btn.btn--green.btn--round(target='_blank' href=`/orders/${document.id}/invoice`)
                i.fas.fa-download
                | &nbsp;Get Invoice

            if document.status.name !== 'cancelled' && document.status.name !== 'delivered'
              | &nbsp;
              button#order-one-cancel-btn.btn.btn--red.btn--round.btn--load(type='button')
                span.btn--load__content Cancel Order
                span.btn--load__load-content
                  i.fa.fa-circle-o-notch.fa-spin
                  | &nbsp;Loading
        
        .my-order-one-billing__body
          .my-order-one-billing__each 
            .my-order-one-billing__each-heading.light-text.smaller-text Payment Method
            .my-order-one-billing__each-body
              p Cash on Delivery

          .my-order-one-billing__each 
            .my-order-one-billing__each-heading.light-text.smaller-text Ship to
            .my-order-one-billing__each-body.line-height-small
              p= document.address.name 
              p #{document.address.address.flat},
              p #{document.address.address.area},
              if document.address.address.landmark 
                p #{document.address.address.landmark},
              p #{document.address.address.district}, 
              p #{document.address.address.state} - #{document.address.address.pincode}
              p #{`+91 ${document.address.mobile.substr(0, 4)} ${document.address.mobile.substr(4, 3)} ${document.address.mobile.substr(7, 3)}`}

          .my-order-one-billing__each 
            .my-order-one-billing__each-heading.light-text.smaller-text Shipping method
            .my-order-one-billing__each-body.text-align-right
              p Standard


      // Products
      section.my-order-one-section.my-order-one-products
        .my-order-one-section__header 
          h3.heading-tertiary.heading-tertiary--no-bottom-line Products

        table.my-order-one-products__table
          colgroup 
            col.my-order-one-products__col.my-order-one-products__col--product
            col.my-order-one-products__col.my-order-one-products__col--quantity
            col.my-order-one-products__col.my-order-one-products__col--total-each
          each product in document.products
            tr.my-order-one-products__row 
              td.my-order-one-products__data.my-order-one-products__product
                a.reset-anchor(href=`/products/${product.product}` target='_blank')
                  img.my-order-one-products__product-img(src=product.thumbnail && product.thumbnail.path || '/assets/user/img/no-image.jpg' alt=product.name)  
                a.reset-anchor(href=`/products/${product.product}` target='_blank') 
                  span.my-order-one-products__product-name= product.name     
              td.my-order-one-products__data.my-order-one-products__quantity x#{product.quantity.now}
              td.my-order-one-products__data.my-order-one-products__total-each.strong-text ₹#{Number(product.totalEach).toLocaleString('en-IN', {maximumFractionDigits: 2})}
  
          tr.my-order-one-products__row-extras
            td.my-order-one-products__data-extras
            td.my-order-one-products__data-extras Subtotal
            td.my-order-one-products__data-extras ₹#{Number(document.subTotal).toLocaleString('en-IN', {maximumFractionDigits: 2})}

          tr.my-order-one-products__row-extras
            td.my-order-one-products__data-extras
            td.my-order-one-products__data-extras Delivery Charges
            td.my-order-one-products__data-extras ₹#{Number(document.deliveryCharge).toLocaleString('en-IN', {maximumFractionDigits: 2})}

          tr.my-order-one-products__row-extras.strong-text
            td.my-order-one-products__data-extras
            td.my-order-one-products__data-extras Total
            td.my-order-one-products__data-extras ₹#{Number(document.grandTotal).toLocaleString('en-IN', {maximumFractionDigits: 2})}
