if featuredCategories
  section.featured-categories
    each obj in featuredCategories
      - const {category, type} = obj;
      .featured-categories__box 
        .featured-categories__img-box
          img.featured-categories__img(src=category && category.images && category.images[0] &&category.images[0].path  alt=category.name)
        .featured-categories__content
          h3.heading-quadinary= category.name
          .featured-categories__type.typography-small-text= type
          a.featured-categories__btn.btn.btn--main-color.btn--round.btn--dark-text(href=`/products/categories/${category.nameNormalized}/${category.id}`) Explore Now
