mixin navbarItem(href, icon, dropdown=false)
  li.navbar__item(class=`${dropdown ? 'user-dropdown-navbar': ''}`)
    a.navbar__link(href=href): i(class=icon)
    if block
      block

mixin userDropdownList(href, icon, name)
  li.user-dropdown-navbar__item: a.user-dropdown-navbar__link(href=href) 
    span.user-dropdown-navbar__icon: i(class=icon)
    | #{name}


//- Main code
nav.navbar: .navbar__inner.reset-anchor
  // Hamburger
  .navbar__hamburger.js--components-function--sidebar__hamburger
    .navbar__hamburger-circle
      .navbar__hamburger-line

  // Logo
  a(href='/')
    .navbar__logo.typography-logo-style
      i.fas.fa-camera-retro
      | &nbsp;Benfr
  
  // Navbar features(list)
  ul.navbar__list

    // Search
    li.navbar__item.navbar__search.js--components-function--search
      form(action='/products/search' method='GET').navbar__search-form.js--components-function--search__form
        input#search-box.navbar__search-input.js--components-function--search__input(type='text' placeholder='Search for a product...' name='searchBy' data-show-class='navbar__search-input--expanded')
        button.js--components-function--search__btn.btn-reset.navbar__search-label(type='button') 
          i.fas.fa-search

    // User dropdown
    li.navbar__item.user-dropdown-navbar
      a.navbar__link(href='/myAccount'): i.far.fa-user
      .user-dropdown-navbar__box: ul.user-dropdown-navbar__list
        if user
          +userDropdownList('/myAccount', 'fas fa-user-circle', `Hello, ${user.name.split(' ')[0]}`)
        else
          +userDropdownList(`/login?redirect=${encodedUrl}`, 'fas fa-user-circle', 'Login')
          +userDropdownList('/signup', 'fas fa-user-circle', 'Sign up')
        
        if user && user.role === 'admin'
          +userDropdownList('/a', 'fas fa-network-wired', 'Admin Panel')
        
        +userDropdownList('/orders', 'fas fa-box-open', 'My Orders')
        +userDropdownList('/addresses', 'fas fa-map-marker-alt', 'Addresses')
        if user
          +userDropdownList(`/logout?redirect=${encodedUrl}`, 'fas fa-sign-out-alt', 'Logout')

    // Wishlist
    li.navbar__item
      a.navbar__link(href='/wishlist'): i.far.fa-heart

    // Shoping cart
    li.navbar__item
      a.navbar__link(href='/cart'): i.fas.fa-shopping-basket
