mixin productContent(products)
  - products = products || []
  .products__content
    if products.length === 0
      .products__content-no-box
        span.products__content-no-icon &excl;
        p.products__content-no-text No Product Found
    else
      each product in products || []
        a.reset-anchor.products__box(href=`/products/${product.nameNormalized}/${product.id}`)
          img.products__img(src=product.images && product.images[0] && product.images[0].path || '/assets/user/img/no-image.jpg')
          .product-desc
            .product-desc__brand= product.brand.name
            .product-desc__name.products__name= product.name 

          .product-desc__ratings
            span.product-desc__ratings-star
              - let i=1, rating = product.review.average;
              while i<=5
                if i <= rating 
                  i.fas.fa-star
                else if i <= rating + 0.5
                  i.fas.fa-star-half-alt
                else 
                  i.far.fa-star
                - ++i;
            - let count = product.review.count;
            span.product-desc__ratings-count= count ? `${count} review${count > 1 ? 's': ''}`: 'Unrated'
          
          .product-desc__price
            if product.currentStock == 0
              span.product-desc__price-act.product-desc__price-act--red Out of Stock
            else
              span.product-desc__price-act ₹#{Number(product.discountedPrice).toLocaleString('en-IN', {maximumFractionDigits: 2})}
              | &nbsp;
              strike.product-desc__price-strike ₹#{Number(product.price).toLocaleString('en-IN', {maximumFractionDigits: 2})}