mixin productDesc(product, selectReview=false, selectOff=false, displayExtras=false)
  .product-desc
    //- Brand name
    .product-desc__brand= product.brand.name

    //- Product name
    .product-desc__name.products__name= product.name 

    //- Review (optional)
    if selectReview
      .product-desc__ratings
        span.product-desc__ratings-star
          +ratingStar(product.review.average)
        span.product-desc__ratings-count
          +ratingNumber(product.review.count)

    //- Price 
    .product-desc__price
      if product.currentStock == 0
        span.product-desc__price-act.product-desc__price-act--red Out of Stock
      else
        span.product-desc__price-act ₹#{Number(product.discountedPrice).toLocaleString('en-IN', {maximumFractionDigits: 2})}
        | &nbsp;
        strike.product-desc__price-strike ₹#{Number(product.price).toLocaleString('en-IN', {maximumFractionDigits: 2})}

        //- Price off (optional)
        if selectOff 
          | &nbsp;
          span.product-desc__price-off #{parseInt(Math.round( (product.price - product.discountedPrice) / product.price * 100 ))}% off

    if block && displayExtras
      //- Block (extras)
      .product-desc__extras
        block