include _rating-helpers

mixin reviewSectionEach(review, current=false)
  .inner-card
    .reviews__star
      +ratingStar(review.star)
    .reviews__title= review.title
    .reviews__by-on
      span.reviews__by #{review.user.name}#{current ? ' (You)': ''}
      | &nbsp;on&nbsp;
      span.reviews__on= helpers.dateFormator.dateFormatted(review.createdAt)
    .reviews__body= review.description || 'No review body'
    .reviews__like-mark
      button.reviews__like-btn
        span.reviews__like-icon: i.far.fa-thumbs-up
        span.reviews__like-count &nbsp;#{review.likesCount} like#{review.likesCount > 1 ? 's': ''}
      .reviews__mark Mark as Inappropriate
      


mixin reviewsSection(product, reviewCurrent, reviews, reviewPage=false)
  section.card.reviews
    h2.heading-tertiary.card__heading Reviews

    .card__body.reviews__body

      // Overall, average
      .inner-card: .reviews__top
        .reviews__net-ratings
          .reviews__net-ratings-average
            | #{Number(product.review.average).toFixed(1)} 
            i.fas.fa-star
          .reviews__star.reviews__net-ratings-star
            +ratingStar(product.review.average)

          .reviews__net-ratings-based-on
            | (Based on&nbsp;
            +ratingNumber(product.review.count)
            | )
        
        if !user
          button.btn.btn--round.btn--main-color.js--components-function--btn-confirm-redirect(data-redirect-to=`/login?continue=true&redirect=${encodedUrl}` data-confirm-message='Writing a review needs you to be logged in! Do you want to login now?')
            i.fas.fa-pen
            | &nbsp;Write a review
        else
          button.btn.btn--round.btn--main-color.js--components-function--toggle-on-click(data-toggle-class='u-display-none' data-toggle-element-id='review-form-card')
            i.fas.fa-pen
            | &nbsp;#{reviewCurrent ? 'Edit your': 'Write a'} review

    
      if user
        // Form
        .inner-card.u-display-none#review-form-card
          h2.heading-quadinary.heading-quadinary--2 #{reviewCurrent ? 'Edit your': 'Write a'} Review

          form#review-form.form(action='#')
            .form__group
              label.form__label(for='name')
                span.form__star *
                | Name
              input.form__input.form__input--no-min#name(type='text' name='name' value=user.name disabled)


            .form__group 
              label.form__label
                span.form__star *
                | Review Star
              .form__rating.form__rating--yellow.js--components-function--form-rating( data-selected-label-class='form__rating_each-label--selected')

                each i in [1, 2, 3, 4, 5]
                  label.form__rating_each-label.js--components-function--form-rating__label(for=`star${i}` class=(reviewCurrent && i<=reviewCurrent.star) ? 'form__rating_each-label--selected': '')
                    span.form__rating_each-label__unselected-star
                      i.far.fa-star
                    span.form__rating_each-label__selected-star
                      i.fas.fa-star
                    if reviewCurrent && reviewCurrent.star == i
                      input.form__rating-each-radio(name='star' id=`star${i}` value=i type='radio' required checked)
                    else 
                      input.form__rating-each-radio(name='star' id=`star${i}` value=i type='radio' required)

            .form__group
              label.form__label(for='title')
                span.form__star *
                | Review Title
              input.form__input.form__input--no-min#name(type='text' name='title' placeholder='Review Title' minlength=3 required value=reviewCurrent && reviewCurrent.title)


            .form__group
              label.form__label(for='description')
                //- span.form__star *
                | Body of Review
              textarea.form__textarea.form__textarea--no-min#name(type='text' name='description' placeholder='Write a review description here...' rows='5')= reviewCurrent && reviewCurrent.description

            .u-display-none
              input(type='text' name='productId' value=document.id readonly)

              if reviewCurrent 
                input(type='text' name='reviewId' value=reviewCurrent.id readonly)

            .form__group
              button#review-form-btn.btn.btn--round.btn--main-color.btn--load
                span.btn--load__content
                  i.fas.fa-check
                  | &nbsp;Submit review
                span.btn--load__load-content
                  i.fa.fa-circle-o-notch.fa-spin
                  | &nbsp;Loading


      // Review by current user
      if reviewCurrent 
        +reviewSectionEach(reviewCurrent, true)
      
      // Other reviews
      each review in reviews 
        +reviewSectionEach(review)
